
<div id="profile_rusefi_list">
    <h2>Vehicles</h2>


<!--{U_USER}-->

{% if E_COUNT %}

    <img src="/forum/ext/rusefi/web/rusEFI_car.png"/><br/>


        {% for engine in engines %}
            <a href="/online/?vehicleName={{ engine.E_NAME }}&user_id={{ engine.E_USER_ID }}">
                {{ engine.E_MAKE }}
                {{ engine.E_CODE }}
                {{ engine.E_NAME }}
            </a>
            <br/>
        {% endfor %}


{% else %}

    No engines - please share your tune at <a href="/online">rusEFI online</a>!


{% endif %}


</div>
