
<IfModule mod_alias.c>
Redirect permanent /docs/wiki/  https://wiki.rusefi.com/
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=permanent,L]
</IfModule>
